/ColorisedVgg11_finetuning.ipynb
/make_load.ipynb
/original_basic_unet_model_supervised.ipynb
/patch.ipynb
/patchmask-vgg11_finetuning.ipynb
/pretext-all_models_concatenated.ipynb
/pretext-colourize (2).ipynb
/training_second_stage_model_sequential.ipynb
/preTrain_weights
